<div class="container-fluid" ng-controller="DevicesController" data-ng-init="initController()">
    <!-- message bars -->
    <div class="alert alert-danger alert-dismissible fade show" ng-show="isControlErrorMessageVisible">
        <a class="close" ng-click="isControlErrorMessageVisible = false;">×</a>
        <strong>Błąd :( </strong>
        <span ng-bind="controlErrorMessage"></span>
    </div>
    <div class="alert alert-success alert-dismissible fade show" ng-show="isControlSuccessMessageVisible">
        <a class="close" ng-click="isControlSuccessMessageVisible = false;">×</a>
        <strong>Sukces! </strong>
        <span ng-bind="controlSuccessMessage"></span>
    </div>

    <div layout="row" layout-wrap>
        <div flex-xs="100" flex-sm="100" flex-md="50" flex-lg="33" flex-xl="25" ng-repeat="node in nodes | orderBy: 'id'">
            <md-card class="device-card" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-bind="node.name"></span>
                        <span class="md-subhead device-card-description" ng-bind="node.description"></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-href="#/manage-nodes/{{node.id}}?mode=edit">Edytuj</md-button>
                    <md-button>Historia</md-button>
                    <span class="padding-left-right">Stan: </span>
                    <label class="switch">
                        <input type="checkbox" id="node_{{node.id}}" ng-model="node.isOn" ng-click="onToggle(node.id)" ng-checked="{{node.isOn}}">
                        <span class="slider round"></span>
                    </label>
                </md-card-actions>
            </md-card>
        </div>
    </div>

    <div class="container-fluid card card-body" ng-show="noDevices">There is no devices.</div>
</div>