<div class="container-fluid" ng-controller="NodesController" data-ng-init="getActuators()">

    <div id="devices-info-error-not-send" class="alert alert-danger alert-dismissible fade in" style="display: none">
        <a class="close" onclick="$('#devices-info-error-not-send').hide()">×</a>
        <strong>Błąd!</strong>
        <span id="devices-info-error-text"></span>
    </div>
    <div id="devices-info-sucessfully-send" class="alert alert-success alert-dismissible fade in" style="display: none">
        <a class="close" onclick="$('#devices-info-sucessfully-send').hide()">×</a>
        <strong>Sukces!</strong>
        <span id="devices-info-success-text"></span>
    </div>

    <div class="row">
        <div ng-repeat="node in nodes | orderBy: 'id'">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <md-card class="device-card" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" ng-bind="node.name"></span>
                            <span class="md-subhead device-card-description" ng-bind="node.description"></span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Edytuj</md-button>
                        <md-button>Historia</md-button>
                        <span class="padding-left-right">Stan: </span>
                        <label class="switch">
                            <input type="checkbox" id="node_{{node.id}}" ng-model="node.isOn" ng-click="onToggle(node.id)" ng-checked="{{node.isOn}}">
                            <span class="slider round"></span>
                        </label>
                    </md-card-actions>
                </md-card>
            </div>
            <div class="clearfix visible-lg" ng-if="($index + 1) % 3 == 0"></div>
            <div class="clearfix visible-md" ng-if="($index + 1) % 2 == 0"></div>
            <div class="clearfix visible-sm" ng-if="($index + 1) % 12 == 0"></div>
            <div class="clearfix visible-xs" ng-if="($index + 1) % 12 == 0"></div>
        </div>
    </div>
</div>