<div class="container-fluid" ng-controller="LoginController">
    <div class="alert alert-success alert-dismissible fade show" ng-show="isRegisterSuccess">
        <a class="close" ng-click="isRegisterSuccess = false;">×</a>
        <strong>Udało się! </strong>
        <span>Teraz możesz się zalogować. Jednak by móc w pełni korzystać z systemu, administrator musi nadać Ci odpowiednie prawa.</span>
    </div>
    <div class="col-lg-6 offset-md-3" ng-show="badAuthentication">
        <div class="card">
            <div class="card-header">Wystąpił błąd</div>
            <div class="card-body" ng-bind="badAuthenticationMessage"></div>
        </div>
    </div>
    <div class="col-lg-6 offset-md-3" style="padding-top: 30px">
        <h3 class="md-headline">Zaloguj się</h3>
        <form name="loginForm" ng-submit="login()" role="form">
            <div layout="row">
                <md-input-container flex="100">
                    <label>Nazwa użytkownika</label>
                    <input required name="username" ng-model="username" type="text">
                    <div ng-messages="loginForm.username.$error">
                        <div ng-message="required">Musisz podać nazwę użytkownika</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="100">
                    <label>Hasło</label>
                    <input required name="password" ng-model="password" type="password">
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">Musisz podać swoje hasło</div>
                    </div>
                </md-input-container>
            </div>
            <div class="form-actions">
                <md-button type="submit" class="md-raised md-primary" ng-disabled="loginForm.$invalid" style="margin-left: 0px;">Zaloguj</md-button>
                <md-button md-no-ink class="md-primary" ng-click="showRegisterForm($e)">Rejestracja</md-button>
            </div>
        </form>
    </div>
</div>