<div class="container-fluid" ng-controller="ManageSystemController" data-ng-init="initController()">
    <!--message bars-->
    <div class="alert alert-success alert-dismissible fade in" ng-show="isOpertionSuccess">
        <a class="close" ng-click="isOpertionSuccess = false">×</a>
        <strong>Sukces!</strong>
        <span ng-bind="successMessage" class="left-padding-sm"></span>
    </div>

    <div class="alert alert-danger alert-dismissible fade in" ng-show="isOperationFail">
        <a class="close" ng-click="isOperationFail = false;">×</a>
        <strong>Błąd!</strong>
        <span ng-bind="errorMessage" class="left-padding-sm"></span>
    </div>

    <!-- loading spinner-->
    <div ng-if="isFetching" class="spinner-wrapper">
        <div class="centered-spinner">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>

    <md-content style="width: 450px; padding-left: 30px; padding-right: 30px;" flex layout-padding>
        <form name="serverForm">
            <div class="row">
                <md-input-container class="col-sm-12">
                    <label>Adres URL serwera Raspberry Pi</label>
                    <input required name="serverAddress" ng-model="serverFormData.rpiUrl" type="text">
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="col-sm-12">
                    <label>Login</label>
                    <input required name="serverLogin" ng-model="serverFormData.rpiLogin" type="text">
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="col-sm-12">
                    <label>Password</label>
                    <input required name="serverPassword" ng-model="serverFormData.rpiPassword" type="password">
                </md-input-container>
            </div>
            <div style="text-align: right;">
                <md-button class="md-raised md-primary" ng-disabled="serverForm.$invalid" ng-click="putSettings()">Zapisz</md-button>
            </div>
        </form>
    </md-content>
</div>