<div ng-controller="StreamController" ng-init="initController()" class="container-fluid">
  <div clas="row">
    <div id="users-info-error" ng-show="isMessagebarVisible" class="alert alert-danger alert-dismissible fade in">
      <a class="close" ng-click="isMessagebarVisible = false">×</a>
      <strong>Błąd!</strong> {{ messagebarMessage }}
    </div>
  </div>
  <div class="row">
    <div style="width: 200px; display: inline-block;">
      <p>Wybierz kamerę:</p>
      <select class="form-control" ng-model="selectedStream" ng-options="option.value as option.dictionary for option in streams"></select>
    </div>
    <div style="display: inline-block;">
      <button type="button" class="btn btn-secondary" ng-click="startStream()">Odtwarzaj</button>
      <button type="button" class="btn btn-danger" ng-click="stopStream()">Zatrzymaj</button>
    </div>
    <div class="vertical-spacer"></div>
  </div>

  <div class="row" style="max-width: 900px;">
    <video id="video-stream" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="640" height="480"
      data-setup={{playerSettings}}>
      <source src="{{streamSource}}" " type="application/x-mpegURL>
      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser thatsupports HTML5 video</p>
    </video>
  </div>
</div>