<div class="container-fluid" ng-controller="UserController" data-ng-init="initController()">
    <div class="row">
        <div class="col-md-4" style="text-align: center;">
            <img alt="User picture" style="width:260px;" title="Zdjęcie użytkownika" class="img-circle img-thumbnail" ng-src="{{ userData.photoUrl }}">
        </div>
        <div class="col-md-6">
            <div data-ng-include="'user/user-info.html'"></div>
        </div>
    </div>

    <div class="container-fluid" style="text-align: center;">
        <!-- Button trigger modal -->
        <md-button class="md-secondary md-raised" ng-click="showEditUserModal($e)">Edytuj swoje dane</md-button>
    </div>
</div>