<div class="container-fluid" ng-controller="ManageStreamsController" data-ng-init="initController()">
    <!--message bars-->
    <div class="alert alert-success alert-dismissible fade show" ng-show="isOpertionSuccess">
        <a class="close" ng-click="isOpertionSuccess = false">×</a>
        <strong>Sukces!</strong>
        <span ng-bind="successMessage" class="left-padding-sm"></span>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" ng-show="isOperationFail">
        <a class="close" ng-click="isOperationFail = false;">×</a>
        <strong>Błąd!</strong>
        <span ng-bind="errorMessage" class="left-padding-sm"></span>
    </div>

    <!--refresh / add buttons-->
    <div class="container-fluid" style="margin-bottom: 15px;">
        <md-button class="md-raised" ng-click="getAllStreams();">Odśwież listę</md-button>
        <md-button class="md-primary md-raised" ng-click="formModalFired($event, false, null)">Dodaj nowy stream</md-button>
    </div>

    <!-- loading spinner-->
    <div ng-if="isFetching" class="spinner-wrapper">
        <div class="centered-spinner">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>

    <div class="container-fluid">
        <!-- display streams table -->
        <h3 class="md-headline">Dodane streamy:</h3>
        <div class="table-responsive container-fluid">
            <table class="table table-sm table-hover" ng-show="streams.length > 0">
                <tr class="row">
                    <th class="col-md-2">Nazwa</th>
                    <th class="col-md-3">Opis</th>
                    <th class="col-md-4">URL</th>
                    <th class="col-md-3">Akcje</th>
                </tr>
                <tr class="row" ng-repeat="stream in streams | orderBy: 'id'">
                    <td class="col-md-2" ng-bind="stream.name"></td>
                    <td class="col-md-3" ng-bind="stream.description"></td>
                    <td class="col-md-4" ng-bind="stream.connectionString"></td>
                    <td class="col-md-3">
                        <md-button class="md-primary md-raised" ng-click="formModalFired($event, true, stream.id)">Edytuj</md-button>
                        <md-button class="md-warn md-raised" ng-click="deleteStream(stream.id)">Usuń</md-button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="container-fluid card card-body" ng-show="!streams.length">Aktualnie brak dodanych streamów.</div>
    </div>
</div>