<div class="container-fluid" ng-controller="UsersController" data-ng-init="getUsers()">
    <!-- message bars -->
    <div ng-show="isUpdateFailed || isDeleteFailed" class="alert alert-danger alert-dismissible fade show">
        <a class="close" ng-click="isUpdateFailed = false; isDeleteFailed = false;">×</a>
        <strong>Błąd! </strong>
        <span ng-bind="resultMessage"></span>
    </div>
    <div ng-show="isUpdateSuccess || isDeleteSuccess" class="alert alert-success alert-dismissible fade show">
        <a class="close" ng-click="isUpdateSuccess = false; isDeleteSuccess = false;">×</a>
        <strong>Sukces! </strong>
        <span ng-bind="resultMessage"></span>
    </div>

    <!-- loading spinner-->
    <div ng-if="isFetching" class="spinner-wrapper">
        <div class="centered-spinner">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
    <div class="container-fluid">
        <h3 class="md-headline">Użytkownicy systemu:</h3>
        <div class="table-responsive table-vertical-align-center table-head-vertical-align-center">
            <table class="table table-condensed table-hover">
                <tr>
                    <th class="center">Imie</th>
                    <th class="center">Nazwisko</th>
                    <th class="center">E-Mail</th>
                    <th class="center">Data dołączenia</th>
                    <th class="center">Rola</th>
                    <th class="center">Akcje</th>
                </tr>
                <tr ng-repeat="user in users | orderBy: 'id'">
                    <td class="col-sm-1 center thick" ng-bind="user.name"></td>
                    <td class="col-sm-1 center thick" ng-bind="user.lastname"></td>
                    <td class="col-sm-2 center" ng-bind="user.email"></td>
                    <td class="col-sm-3 center" ng-bind="formatDate(user.joinDate)"></td>
                    <td class="col-sm-1 center" ng-bind="getUserRoleFromDictionary(user.role)"></td>
                    <td class="col-sm-4 center">
                        <md-button class="md-primary md-raised" ng-click="formModalFired($event, user.id)">Uprawnienia</md-button>
                        <md-button class="md-warn md-raised" ng-click="deleteUser(user.id)">Usuń</md-button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>