<div class="container-fluid" ng-controller="ManageNodesController" data-ng-init="initController()" ng-cloak>
    <!-- message bars -->
    <div id="message-anchor" style="visibility: hidden"></div>
    <div class="alert alert-danger alert-dismissible fade show" ng-show="isNodeErrorMessageVisible">
        <a class="close" ng-click="isNodeErrorMessageVisible = false;">×</a>
        <strong>Błąd :( </strong>
        <span ng-bind="nodeErrorMessage"></span>
    </div>
    <div class="alert alert-success alert-dismissible fade show" ng-show="isNodeSuccessMessageVisible">
        <a class="close" ng-click="isNodeSuccessMessageVisible = false;">×</a>
        <strong>Sukces! </strong>
        <span ng-bind="nodeSuccessMessage"></span>
    </div>

    <!--refresh / add buttons-->
    <div class="container-fluid" style="margin-bottom: 15px;">
        <md-button class="md-raised" ng-click="getAllNodes();">Odśwież listę</md-button>
        <md-button class="md-primary md-raised" ng-click="formModalFired($event, false, null)">Dodaj nowe urządzenie</md-button>
    </div>

    <!-- loading spinner-->
    <div ng-if="isFetching" class="spinner-wrapper">
        <div class="centered-spinner">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>

    <!-- table -->
    <div class="container-fluid">
        <h3 class="md-headline">Czujniki:</h3>
        <div class="table-responsive container-fluid">
            <table class="table table-sm table-hover">
                <tr class="row">
                    <th class="col-md-2">Nazwa</th>
                    <th class="col-md-5">Opis</th>
                    <th class="col-md-1">Identyfikator</th>
                    <th class="col-md-1">Rodzaj urządzenia</th>
                    <th class="col-md-3">Akcje</th>
                </tr>
                <tr class="row" ng-repeat="node in nodes | orderBy: 'id' | filter: {nodeType: '0'}">
                    <td class="col-md-2 thick" ng-bind="node.name"></td>
                    <td class="col-md-5" ng-bind="node.description"></td>
                    <td class="col-md-1" ng-bind="node.identifier"></td>
                    <td class="col-md-1" ng-bind="node.formatedProperties"></td>
                    <td class="col-md-3">
                        <md-button class="md-primary md-raised" ng-click="formModalFired($event, true, node.id);">Edytuj</md-button>
                        <md-button class="md-warn md-raised" ng-click="deleteNode(node.id)">Usuń</md-button>
                    </td>
                </tr>
            </table>
        </div>

        <h3 class="md-headline top-margin-sm">Sterowniki:</h3>
        <div class="table-responsive container-fluid">
            <table class="table table-sm table-hover">
                <tr class="row">
                    <th class="col-md-2">Nazwa</th>
                    <th class="col-md-3">Opis</th>
                    <th class="col-md-1">Adres IP</th>
                    <th class="col-md-1">Adres IP gateway</th>
                    <th class="col-md-1">Identyfikator</th>
                    <th class="col-md-1">Rodzaj urządzenia</th>
                    <th class="col-md-3">Akcje</th>
                </tr>
                <tr class="row" ng-repeat="node in nodes | orderBy: 'id' | filter: {nodeType: '1'}">
                    <td class="col-md-2 thick" ng-bind="node.name"></td>
                    <td class="col-md-3" ng-bind="node.description"></td>
                    <td class="col-md-1" ng-bind="node.ipAddress"></td>
                    <td class="col-md-1" ng-bind="node.gatewayAddress"></td>
                    <td class="col-md-1" ng-bind="node.identifier"></td>
                    <td class="col-md-1" ng-bind="node.formatedProperties"></td>
                    <td class="col-md-3">
                        <md-button class="md-primary md-raised" ng-click="formModalFired($event, true, node.id);">Edytuj</md-button>
                        <md-button class="md-warn md-raised" ng-click="deleteNode(node.id)">Usuń</md-button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>