<md-dialog style="min-width: 50%;">
    <form name="nodeForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="isEditing">Edytuj urządzenie</h2>
                <h2 ng-if="!isEditing">Dodaj urządzenie</h2>
                <span flex></span>
                <md-button ng-click="cancelForm()">×</md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content form-horizontal container-fluid">
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Nazwa</label>
                        <input required name="name" ng-model="dialog.nodeForm.name" type="text">
                        <div ng-messages="nodeForm.name.$error">
                            <div ng-message="required">Musisz podać nazwę.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Identyfikator</label>
                        <input required name="identifier" ng-model="dialog.nodeForm.identifier" type="text">
                        <div ng-messages="nodeForm.identifier.$error">
                            <div ng-message="required">Musisz podać unikalny identyfikator.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="100">
                        <label>Opis</label>
                        <textarea name="description" ng-model="dialog.nodeForm.description" rows="2" type="text"></textarea>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Login</label>
                        <input name="loginName" ng-model="dialog.nodeForm.loginName" type="text">
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Hasło</label>
                        <input name="loginPassword" ng-model="dialog.nodeForm.loginPassword" type="password">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Typ</label>
                        <md-select ng-model="dialog.nodeForm.nodeType">
                            <md-option ng-repeat="node in dialog.nodeTypeDictionary" value="{{node.key}}" ng-bind="node.value"></md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="100" ng-if="dialog.nodeForm.nodeType == 0" ng-init="dialog.selectedSensorActuatorTypes = []">
                        <label>Zainstalowane sensory</label>
                        <md-chips ng-model="dialog.selectedSensorActuatorTypes" md-select-snap md-transform-chip="dialog.transformChip($chip)" md-require-match="true">
                            <md-autocomplete md-items="item in dialog.querySearch(dialog.searchText, 'sensor')" md-selected-item="dialog.selectedItem"
                                md-search-text="dialog.searchText" md-item-text="item.value" md-min-length="0" placeholder="Wpisz typ...">
                                <span md-highlight-text="dialog.searchText">{{item.value}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.value}}</strong>
                                </span>
                            </md-chip-template>
                        </md-chips>
                    </md-input-container>
                </div>
                <div layout="row" ng-if="dialog.nodeForm.nodeType == 1">
                    <md-input-container flex="100" ng-init="dialog.selectedSensorActuatorTypes = []">
                        <label>Zainstalowane sensory</label>
                        <md-chips ng-model="dialog.selectedSensorActuatorTypes" md-select-snap md-transform-chip="dialog.transformChip($chip)" md-require-match="true">
                            <md-autocomplete md-items="item in dialog.querySearch(dialog.searchText, 'actuator')" md-selected-item="dialog.selectedItem"
                                md-search-text="dialog.searchText" md-item-text="item.value" md-min-length="0" placeholder="Wpisz typ...">
                                <span md-highlight-text="dialog.searchText">{{item.value}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.value}}</strong>
                                </span>
                            </md-chip-template>
                        </md-chips>
                    </md-input-container>
                </div>
                <div layout="row" ng-if="dialog.nodeForm.nodeType == 1">
                    <md-input-container flex="50">
                        <label>IP urządzenia</label>
                        <input name="ipAddress" ng-model="dialog.nodeForm.ipAddress" type="text">
                    </md-input-container>

                    <md-input-container flex="50">
                        <label>IP bramy</label>
                        <input name="gatewayAddress" ng-model="dialog.nodeForm.gatewayAddress" type="text">
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancelForm()">Anuluj</md-button>
            <md-button ng-disabled="nodeForm.$invalid" ng-click="submitForm()">Wyślij</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>