body {
    margin: 0;
    padding: 0;
}

.red {
    color: red;
}

.not-found-box {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    background-color: #2e353d;
    color: #dddddd;
    text-align: center;
}

.not-found-box .a {
    text-decoration: none;
}

#language-panel {
    padding-top: 5px;
    padding-bottom: 5px;
}

.vertical-spacer {
    padding-top: 20px;
}

.horizontal-spacer {
    display: inline-block;
    padding-left: 20px;
}

#language-picker {
    background-color: #2e353d;
    border-radius: 1px;
    padding: 3px;
}

#language-picker:hover {
    background-color: #1d1d1d;
  }
